<br><br><br>
<div class="panel small-8 small-centered columns">
  <h4 class="small-11 small-centered columns"><%= "Representatives for #{@location.full_address}" %></h4>
  <% @reps.each do |result| %>
    <p class="small-11 small-centered columns">
      <%= "Name: #{result["first_name"]} #{result["last_name"]}, Email:
          #{result["oc_email"]}, Title: #{result["title"]}, Party: #{result["party"]}" %>
    </p>
  <% end %>
  <%= link_to "Find more Representatives", root_url %>
</div>
